.container{
    margin: 12rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__lista{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
    }
}